/* body {
    background-color: crimson;
} */

.welcomeContent{
    z-index: -10;
    position: relative
}

img {
    border-radius: 20%;
    height: 600px;
    width: 600px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}


