form{
    position: relative;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 35%;
    width: 325px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 35px;
}

Label{
    padding: 8px;
}

#username{
    margin-left: -4px;
}

#signupBtn {
    margin-left: 5px;
    background: blue;
}
